{% extends 'layout.html' %}
<!--/-->
{% block content%}
<!--文章摘要列表 start-->
<!--如果当前分类没有内容-->
{% if contents=='' %}
<!--/-->
<section class="blog-article">
    <p>当前分类下没有内容</p>
</section>
{% else %}
<!--/-->
{% for content in contents %}
<section class="blog-article">
    <h2>{{content.title}}</h2>
    <p> 作者：<span class="text-primary">{{content.user.username}}</span> 时间：
        <span class="text-primary">{{content.addTime|date('Y-m-d H:i:s',-480)}}</span> 阅读：
        <span class="text-primary">{{content.views}}</span> 评论数：
        <span class="text-primary">{{content.comments.length}}</span>
    </p>
    <p>{{content.abstract}}</p>
    <a href="/view?contentid={{content.id}}" class=" btn btn-primary">阅读全文</a>
</section>
{% endfor %}
<!--、-->
{% endif %}
<!--文章摘要列表 end-->

<!--分页 start-->
<nav class="nav-pagination" aria-label="Page navigation">
    <ul class="pager">
        <li>
            {% if page >1 %}
            <!--/-->
            <a href="/?category={{categoryID}}&page={{page-1}}" aria-label="Previous">上一页</a>
            <!--/-->
            {% else %}
            <span>没有上一页了</span>
            <!--/-->
            {% endif %}
        </li>
        <li>
            <strong>{{page}}/{{Math.max(pages,1)}}</strong>
        </li>
        <li>
            {% if page>=pages %}
            <span>没有下一页了</span>
            <!--/-->
            {%else%}
            <a href="/?category={{categoryID}}&page={{page+1}}" aria-label="Next">下一页</a>
            <!--/-->
            {% endif %}
        </li>
    </ul>
</nav>
<!--分页 end-->
{% endblock %}